@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");
*,
a,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Space Grotesk;
}

.subTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #FF5A30;
}

.title {
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  color: #001F3F;
}

.bTn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 60px;
  color: #FFFFFF;
  background: #FF5A30;
  border-radius: 5px;
  transition: 0.4s;
}
.bTn .arrowIcon {
  width: 24px;
  height: 13px;
  filter: brightness(0) invert(1);
  transition: 0.4s;
}
.bTn:hover {
  color: black;
  background: #FFFFFF;
  border: 1px solid #FF5A30;
}
.bTn:hover .arrowIcon {
  filter: brightness(1) invert(0);
}

.bTn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #001F3F;
  transition: 0.4s;
}
.bTn2 .playIcon {
  width: 12px;
  height: 16px;
  filter: brightness(0) invert(1);
  transition: 0.4s;
}
.bTn2:hover {
  border: 1px solid #FF5A30;
  background: #FFFFFF;
}
.bTn2:hover .playIcon {
  filter: brightness(1) invert(0);
}

.carousel-control-prev {
  top: 45%;
  left: 100px;
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transition: 0.4s;
}
.carousel-control-prev .carousel-control-prev-icon {
  transition: 0.4s;
  filter: brightness(0);
}
.carousel-control-prev:hover {
  background: #FF5A30;
}
.carousel-control-prev:hover .carousel-control-prev-icon {
  filter: brightness(1);
}

.carousel-control-next {
  top: 45%;
  right: 100px;
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transition: 0.4s;
}
.carousel-control-next .carousel-control-next-icon {
  transition: 0.4s;
  filter: brightness(0);
}
.carousel-control-next:hover {
  background: #FF5A30;
}
.carousel-control-next:hover .carousel-control-next-icon {
  filter: brightness(1);
}

.card-body-about {
  position: relative;
  overflow: hidden;
}
.card-body-about .card-profile {
  height: 100%;
  width: 100%;
  position: relative;
}
.card-body-about .card-profile::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 31, 63, 0) 0%, rgba(0, 31, 63, 0.967949) 100%);
  border-radius: 5px;
}
.card-body-about .card-profile .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.card-body-about .card-text {
  position: absolute;
  color: #FFFFFF;
}
.card-body-about.v1 {
  border-radius: 5px;
  width: 440px;
  height: 429px;
}
.card-body-about.v1 .card-text {
  bottom: 20px;
  left: 30px;
  transition: 0.4s;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.card-body-about.v1 .card-img {
  border-radius: 5px;
}
.card-body-about.v1:hover .card-img {
  transform: scale(1.2);
}
.card-body-about.v2 {
  border-radius: 20px;
  width: 370px;
  height: 399px;
  transition: 0.4s;
}
.card-body-about.v2 .view-bTn {
  visibility: hidden;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  left: 10%;
  bottom: 5px;
  transition: 0.4s;
}
.card-body-about.v2 .view-bTn .arrowIcon {
  width: 26px;
  height: 13px;
  filter: brightness(0) invert(1);
}
.card-body-about.v2 .card-text {
  width: 290px;
  left: 10%;
  bottom: 20px;
  font-size: 20px;
  transition: 0.4s;
}
.card-body-about.v2 .card-img {
  border-radius: 20px;
}

.banner .banner-content-main {
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.banner .banner-content-main .banner-content-head .title {
  margin-top: 10px;
  font-size: 80px;
}
.banner .banner-content-main .banner-subContent .banner-subContent-pera {
  width: 473px;
  height: 78px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #435970;
}
.banner .banner-content-main .banner-subContent .btn-group {
  margin-top: 35px;
}
.banner .caro-main {
  margin-top: 40px;
  max-width: 1820px;
  height: 641px;
}
.banner .sponser-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 115px;
  height: 176px;
  border-radius: 5px;
  border: 1px solid #C1D4E8;
}
.banner .sponser-main .sponser-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.banner .sponser-main .sponser-body .sponser-content {
  padding: 30px;
  width: 216px;
  height: 100%;
  transition: 0.4s;
}
.banner .sponser-main .sponser-body .sponser-content .sponser-icon {
  width: 36px;
  height: 36px;
}
.banner .sponser-main .sponser-body .sponser-content .sponser-text {
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #001F3F;
}
.banner .sponser-main .sponser-body .sponser-content:hover {
  background: #FF5A30;
  border-radius: 5px;
  width: 225px;
  height: 194px;
}
.banner .sponser-main .sponser-body .sponser-content:hover .sponser-icon {
  filter: brightness(0) invert(1);
}
.banner .sponser-main .sponser-body .sponser-content:hover .sponser-text {
  color: #FFFFFF;
}

.card-section-about {
  margin-top: 110px;
}
.card-section-about .about-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-section-about .about-main .about-content .title {
  font-size: 30px;
}
.card-section-about .about-card-main {
  margin-top: 50px;
}
.card-section-about .about-card-main .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.card-section-project {
  margin-top: 110px;
}
.card-section-project .project-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-section-project .project-main .project-content .title {
  font-size: 30px;
}
.card-section-project .project-card-main {
  margin-top: 50px;
  padding-bottom: 100px;
}
.card-section-project .project-card-main .card-content {
  display: flex;
  justify-content: space-between;
}
.card-section-project .project-card-main .card-content .card-body-about:hover {
  height: 430px;
}
.card-section-project .project-card-main .card-content .card-body-about:hover .card-text {
  bottom: 75px;
  left: 36px;
}
.card-section-project .project-card-main .card-content .card-body-about:hover .view-bTn {
  visibility: visible;
  left: 10%;
  bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
